.page-header
  %h1=t '.title', :default => Audio.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= Audio.human_attribute_name(:id)
      %th= Audio.human_attribute_name(:source_content_type)
      %th= Audio.human_attribute_name(:source_file_name)
      %th= Audio.human_attribute_name(:source_file_size)
      %th= Audio.human_attribute_name(:aasm_state)
      %th= Audio.human_attribute_name(:created_at)
      %th= Audio.human_attribute_name(:updated_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @audios.each do |audio|
      %tr
        %td= link_to audio.id, audio_path(audio)
        %td= audio.source_content_type
        %td= audio.source_file_name
        %td= audio.source_file_size
        %td= audio.aasm_state
        %td= audio.created_at
        %td= audio.updated_at
        %td
          = link_to "Download", audio.source.url(:original, false), :class => 'btn btn-mini btn-primary'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), audio_path(audio), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'


= link_to t('.new', :default => t("helpers.links.new")), new_audio_path, :class => 'btn btn-primary'
